body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.overview-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    clear: both
}

.learn-about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h1{
    display: inline;
}

.container nav{
    display: inline;
}

.container h1:nth-child(1) {
    float: left;
}

.container nav:nth-child(2) {
    float: right;
    align-items: center;
}

li {
    display: inline;
}

.overview-hero-image > img {
    width: 200px;
    height: 200px;
    float: left;
}